   @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: "Poppins", sans-serif;
       list-style: none !important;
       text-decoration: none !important;
   }


   :root {
       --mainbackground: #E6F6FF;
       --lightblue: #71C5DF;
       --location: #5F5F5F;
       --currentlocation: #000;
       --textgrey: #a6a6a6;
       --textblack: #000;
       --green: #54D49A;
       --white: #fff;
       --star: #EFA421;
       --viewbtn: #CAD7DB;
   }



   body {
       background-color: var(--mainbackground);
   }

   section {
       margin: 1rem;
   }

   .header_content img {
       width: 40px;
       height: 40px;
       border-radius: 50px;
   }

   .header_content {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: .3rem 0;
   }

   .location {
       display: flex;
       justify-content: center;
       flex-direction: column;
       grid-gap: .3rem;
       align-items: center;
       font-weight: 300;
       font-size: .8rem;
       color: var(--currentlocation);
   }

   .location small {
       font-size: .7rem;
       display: flex;
       justify-content: space-between;
       align-items: center;
       color: var(--location);
       font-weight: 300;
   }

   .location small i {
       font-size: 1.3rem;
       color: var(--lightblue);
   }

   .bell i {
       font-size: 1.7rem;
       color: var(--lightblue);
   }

   .bell {
       position: relative;
   }

   .bell span {
       width: 7px;
       height: 7px;
       border-radius: 50px;
       background-color: red;
       display: block;
       justify-content: center;
       align-items: center;
       position: absolute;
       top: 0;
       right: 0;
   }

   .search {
       display: flex;
       justify-content: center;
       flex-direction: column;
   }

   .search_filter_box {
       display: flex;
       justify-content: center;
       align-items: center;
       grid-gap: 1rem;
       margin: 1rem 0;
   }

   .search_box {
       width: 88%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       grid-gap: .3rem;
       padding: .2rem;
       border-radius: 50px;
       background-color: var(--white);
   }

   .search_box p i {
       font-size: 1.3rem;
       color: var(--white);
   }

   .search_box p {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 40px;
       height: 35px;
       background: var(--lightblue);
       border-radius: 50px;
   }

   .search_box input {
       width: 100%;
       border: none;
       outline: none;
       padding-left: 1rem;
       font-size: .7rem;
   }

   .filter {
       display: flex;
       justify-content: center;
       align-items: center;
       width: 40px;
       height: 40px;
       background: var(--lightblue);
       border-radius: 50px;
   }

   .filter i {
       color: var(--white);
   }


   .navbar {
       display: flex;
       justify-content: center;
       align-items: center;
       margin: .5rem 0;
   }


   ul {
       display: flex;
       justify-content: space-between;
       grid-gap: 1em;
       align-items: center;
       list-style: none;
       background: var(--white);
       border-radius: 8px;
       padding: .5rem .5rem;
       width: 93%;
   }

   .active {
       background: var(--lightblue);
       border-radius: 8px;
       padding: .3rem .8rem;
       color: var(--white);
       font-weight: bold;
   }

   ul li {
       font-size: .8rem;
   }

   .container {
       margin-top: 1.5rem;
   }

   .container h4 {
       font-weight: 400;
       padding-top: 1rem;
       font-size: .9rem;
   }

   .card {
       position: relative;
       margin: 1rem 0 .2rem 0;
   }

   .card img {
       width: 100%;
       border-top-left-radius: 20px;
       border-top-right-radius: 20px;
   }

   .sale {
       position: absolute;
       top: 20px;
       left: 0px;
       padding-left: .7rem;
       padding-right: .4rem;
       background-color: var(--green);
   }

   .heart {
       position: absolute;
       top: 0px;
       right: -1px;
       width: 40px;
       height: 40px;
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 50px;
       background-color: var(--mainbackground);
   }

   .heart i {
       color: var(--lightblue);
       font-size: 1.5rem;
   }

   .details1,
   .details2,
   .details3 {
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: .5rem 0;
   }

   .details1 i,
   .details2 i,
   .details3 i {
       color: var(--lightblue);
   }


   .details_mini {
       display: flex;
       justify-content: space-between;
       align-items: center;
       grid-gap: .8rem;
   }

   .details_mini span {
       color: #000;
   }

   .details_mini small {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       font-size: .6rem;
       color: var(--textgrey);
   }

   .ruppes {
       color: var(--textblack);
   }

   .star {
       color: var(--star) !important;
   }

   .details3 a {
       width: 75%;
       background: var(--viewbtn);
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 5px;
       padding: .2rem;
   }

   .view_bttn{
     width: 75%;
       background: var(--viewbtn);
       display: flex;
       justify-content: center;
       align-items: center;
       border-radius: 5px;
       padding: .2rem;
   }

   .price {
       font-size: .7rem;
   }

   .share {
       font-size: 1.3rem;
   }


   .view_btn {
       color: #000;
   }


   /* ///// bottom navbar  ////// */

   .bottom-nav {
       position: fixed;
       bottom: 20px;
       left: 50%;
       transform: translateX(-50%);
       width: 90%;
       max-width: 400px;
       height: 60px;
       border-radius: 40px;
       display: flex;
       justify-content: space-around;
       align-items: center;
       transition: transform 0.3s ease, opacity 0.3s ease;
       z-index: 999;
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .bottom-nav.hide {
       transform: translate(-50%, 100px);
       opacity: 0;
   }


   .bottom-nav button i:hover {
       color: var(--lightblue);
   }

   .active2 {
       color: var(--lightblue);

   }

   button {
       width: 50px;
       height: 50px;
       background-color: var(--white);
       border-radius: 50px;
       display: flex;
       justify-content: center;
       align-items: center;
       border: none;
       padding: .6rem;
       box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

   }

   button i {
       font-size: 1.5rem;
       color: #EAEAEA;
   }